/*全局css样式*/
body, ul, li, a, p, h2, h3, textarea, button, input, select {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: "微软雅黑";
    &:focus {
        outline: none;
    }
}
h2{
    background-color: #eee;
    margin: 0;
    padding: 10px;
    font-size: 16px;
}
body,html{
    width: 100%;
    height: 100%;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.box{
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
    width: 100%;
    height: 100%;
}
#root{
    width: 100%;
    height: 100%;
}
.main{
    display: flex;
    flex-direction:column;
    flex:1;
}
/*底部导航*/
.footer-nav{
    width:100%;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    text-align: center;
    border-top: 1px solid #ccc;
    a{
        color: #555;
    }
    .active{
        color:#00C5CD;
    }
}
/*Loading正在加载*/
.loading{
    text-align: center;
    img{
        width: 50px;
        height: 50px;
    }
}

/*列表页*/
.list-box{
    overflow: auto;
    flex:1;
}

.main-z{
    overflow: auto;
    flex:1;
}

/*登录页面*/
.denglu{
    input{
        border:1px solid #ccc;
        padding: 0 30px;
        width: 240px;
        height: 35px;
        display: block;
        margin: 0 auto;
        margin-top: 200px;
        text-align: center;
        color: #ccc;
        font-size: 18px;
        border-radius: 5px;
    }
    .login{
        width: 130px;
        height: 40px;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 10px;
        text-align: center;
        line-height: 40px;
        background: #00C5CD;
        color: #fff;
    }
}

/*未登录状态*/
.nologin{
    text-align: center;
    margin-top: 30px;
    a{
        color: #00C5CD;
    }
}